@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100vh;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 2 20rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.products li {
  flex: 0 1 23rem;
  height: 47rem;
  padding: 2rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img {
  max-width: 38rem;
  max-height: 38rem;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button {
  align-items: center;
  flex: 1;
}

.product-price div {
  font-size: 2rem;
}

.button {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
}

.button:hover {
  border: 0.1rem #808080 solid;
}

.button.primary {
  background-color: #f0c040;
}

.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem solid #c0c0c0;
}

.filter div {
  flex: 1;
}

.cart {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
}

.cart-header {
  border-bottom: 0.1rem solid #c0c0c0;
  padding-bottom: 13px;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img {
  width: 5rem;
}

.cart-items li {
  display: flex;
}

.cart-items li div {
  padding: 0.5rem;
}

.cart-items li div:last-child {
  flex: 1;
}

.right-in-cart {
  text-align: right;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.total > div {
  font-size: 2rem;
}

.total > div,
.total > button {
  flex: 1;
}

form {
  width: 90%;
}

.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

input {
  padding: 1rem;
  border: 0.1rem solid #c0c0c0;
}
